<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Contpaqi.Sql.Contabilidad.Empresa" version="1.0.2" targetFramework="net472" />
  <package id="Contpaqi.Sql.Contabilidad.Generales" version="1.0.2" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
</packages>