<connectionStrings>
	<clear />
	<add name="ManejadorDocumentosCfdiDbContext"
	     providerName="System.Data.SqlClient"
	     connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ManejadorDocumentosCfdiDbContext;Integrated Security=True;Encrypt=False;TrustServerCertificate=False;" />
</connectionStrings>