<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.2.0" targetFramework="net472" />
  <package id="Contpaqi.Sql.ADD.DocumentMetadata" version="1.0.1" targetFramework="net472" />
  <package id="Contpaqi.Sql.Comercial.Empresa" version="1.0.5" targetFramework="net472" />
  <package id="Contpaqi.Sql.Comercial.Generales" version="1.0.5" targetFramework="net472" />
  <package id="Contpaqi.Sql.Contabilidad.Empresa" version="1.0.4" targetFramework="net472" />
  <package id="Contpaqi.Sql.Contabilidad.Generales" version="1.0.4" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="MediatR" version="8.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="NLog" version="4.7.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CommandLine" version="2.0.0-beta1.20371.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>